{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do list</title>
    {% block title %}To-do list{% endblock %}
</head>
<body>
    {% block content %}
        <div class="row mt-4">
            <div class="col">
                <h2>Add task</h2>
                <form action="{% url 'todoapp:add' %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <input type="text" name="content" class="form-control mb-2 mr-sm-2" placeholder="Type here...">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h3>Inbox</h3>
                <ul class="list-group">
                    {% for todo_item in todo_items %}
                        <li class="list-group-item list-group-item-action d-flex justify-content-between">{{ todo_item.text }}
                            <div class="btn-group">
                                <form action="{% url 'todoapp:finish' todo_item.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-outline-success mr-2">Finish</button>
                                </form>
                                <form action="{% url 'todoapp:delete' todo_item.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if finished_times %}
            <div class="row mt-4">
                <div class="col">
                    <h3>Finished tasks</h3>
                    <ul class="list-group">
                        {% for item in finished_times %}
                            <li class="list-group-item list-group-item-action list-group-item-light">{{ item.text }}
                                <div class="float-right">
                                    <form action="{% url 'todoapp:delete' item.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock %}
</body>
</html>