<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="{% url 'todoapp:login' %}?next=/list/" method="post">
    {% csrf_token %}
{#    <label for="username">Username:</label>#}
{#    <input type="text" name="username" value="" id="username"><br>#}
{#    <label for="password">Password:</label>#}
{#    <input type="password" name="password" value="" id="password"><br>#}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Login">
</form>
</body>
</html>