{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    {% block title %}Sign in{% endblock %}
</head>
<div>
    {% block content %}
        <div class="row mt-4">
            <div class="mx-auto" style="width: 200px;">
                <h2>Sign in</h2>

                <form action="{% url 'users:login' %}?next={% url 'todoapp:list' %}" method="post">
                    {% csrf_token %}
                    {% include 'bs4_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>

            </div>
        </div>
    {% endblock %}
</body>
</html>