{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    {% block title %}Sign up{% endblock %}
</head>
<body>
    {% block content %}
        <div class="row mt-4">
            <div class="mx-auto" style="width: 600px;">

                <h2>Create a new account</h2>

                <form action="" method="post">
                    {% csrf_token %}
                    {% include 'bs4_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>

            </div>
        </div>
    {% endblock %}
</body>
</html>